{% extends 'base.html' %}
{% block content %}
{% load static %}
    <main class="container mt-5">
        <h2>Форма регистрации</h2>
        <form id="registrationForm" method="post">
          {% csrf_token %}
          {{ form.username.label }}
          {{ form.username }}
          {{ form.email.label }}
          {{ form.email }}
          {{ form.password1.label }}
          {{ form.password1 }}
          {{ form.password2.label }}
          {{ form.password2 }}
           <input type="submit">
          </form> 
    </main>
{% endblock %}